html { padding: 1em; color: #333; }
p { margin: 0 0 1em 0; }
ul { margin: 0.25em 0 1em 0; }
li { list-style-type: square; margin: 0 0 0 2em; }
h1 { font-size: 182%; border-bottom: 1px dotted #333; }
h2 { font-size: 138.5%; margin-bottom: 0.5em; }
h3, h4, h5, h6 { font-weight: bold; margin-bottom: 1em; }
a:hover { background-color: #ffc; }

#hd { margin-bottom: 1em; }
#ft { margin-top: 1em; }

.notice { background-color: #eee; padding: 1em 0; text-align: center; }

.page .content dl { margin-left: 1em; margin-bottom: 1em; }
.page .content dl dt { margin-left: 1em; font-weight: bold; }
.page .content dl dd { margin-left: 1em; }

.page #archive .meetup.most_recent { font-size: 273%; margin: 2.5em 0 2.5em 0; list-style-type: none; }

.meetup .meta { display: block; text-align: right; margin-top: 1em; }
.meetup .meta .property { display: none; }
.meetup .meta .value { font-weight: bold; display: inline; }
.meetup .meta .author:before { content: '-- Written by '; font-weight: normal; }
.meetup .meta .published:before { content: ' on '; font-weight: normal; }

.meetup .comments { margin-top: 1em; }

.meetup .related { text-align: center; margin-top: 1em; }
.meetup .related .previous:before { content: '« '; }
.meetup .related .next:after { content: ' »'; }
.meetup .related a { margin: 0 1em; }

.meetup .content .foreword { background-color: #eee; font-style: italic; }
.meetup .content .introduction { font-style: italic; }
.meetup .content ol, .meetup .content dl { margin-left: 1em; margin-bottom: 1em; }
.meetup .content dl dt { margin-left: 1em; font-weight: bold; }
.meetup .content ol li, .meetup .content dl dd { margin-left: 1em; }
.meetup .content table { width: 100%; margin: 1em; border: 1px solid #333; }
.meetup .content table th, .meetup #content table td { border: 1px solid #333; padding: 0.5em; }
.meetup .content table th { font-weight: bold; }
.meetup .content pre { margin-bottom: 1em; margin-left: 1em; }
.meetup .content .update { background-color: #eee; }
.meetup .content .update .when { font-style: italic; }
