---
title: Pub Hack Meetups
layout: page
---

<p class="introduction">Pub hacks, eh? What's that all about? Well, every day I get approximately a bazillion ideas for things to hack on. Some are tiny things and would take only 30 minutes to pull some code together and release, some take several days of hacking. The one thing they have in common is that I rarely get a chance to actually work on them. The ideas languish, and eventually get forgotten and die.</p>

<p>Dead ideas are sad ideas, and no one likes sad ideas. To avoid them I thought I'd arrange a dedicated time once a month where I could go somewhere with like-minded people, hack on or share a few ideas, and maybe have a beer or two at the same time. Do you hack? Do you drink beer? Perhaps pub hack is a good idea for you too? Join us!</p>

<ul class="meetups" id="archive">
  {% for meetup in site.posts %}
    {% if forloop.first %}
      <li class="most_recent meetup">
       The <a class="permalink" href="/pub-hack{{ meetup.url }}">next meetup</a> is at <a class="permalink title" href="{{ meetup.pub_link }}">{{ meetup.pub_name }}</a>, starting around 6pm on <span class="date">{{ meetup.date | date_to_string }}</span>
      </li>
    {% else %}
      <li class="past meetup">
	<a class="permalink title" href="/pub-hack{{ meetup.url }}">{{ meetup.pub_name }}</a> on <span class="date">{{ meetup.date | date_to_string }}</span>
      </li>
    {% endif %}
  {% endfor %}
</ul>
