---
title: Meetups
layout: page
---
<ul class="meetups" id="archive">
  {% for meetup in site.posts %}
    {% if forloop.first %}
      <li class="most_recent meetup">
       The next meetup is at <a class="permalink title" href="/pub-hack{{ meetup.url }}">{{ meetup.pub_name }}</a> on <span class="date">{{ meetup.date | date_to_string }}</span>
      </li>
    {% else %}
      <li class="past meetup">
	<a class="permalink title" href="/pub-hack{{ meetup.url }}">{{ meetup.pub_name }}</a> on <span class="date">{{ meetup.date | date_to_string }}</span>
      </li>
    {% endif %}
  {% endfor %}
</ul>
