<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% if page.title %}{{page.title}} &mdash; {% endif %} Meetups</title>
    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Robots" content="index,follow" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css" />
    <link rel="stylesheet" type="text/css" href="/pub-hack/all.css" />
  </head>
  <body>
    <div class="container" id="doc4">
      {{ content }}
      <div id="ft">
        <p class="notice">Pub meetups. You should come. Questions? <a href="mailto:craig@barkingiguana.com">Email craig@barkingiguana.com</a></p>
      </div>
    </div>
  </body>
</html>
